.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
  box-sizing: border-box;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.logout-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.logout-icon svg {
  width: 24px;
  height: 24px;
}
