.transaction-details-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transaction-details-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .transaction-details-header button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .transaction-details-header button:hover {
    background-color: #45a049;
  }
  
  .transaction-details-container div {
    margin-bottom: 10px;
  }
  
  .transaction-details-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .transaction-details-buttons button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .transaction-details-buttons button:hover {
    background-color: #45a049;
  }
  